.centerpage {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  width: 60px;
  line-height: 60px;
  padding: 0;
  margin: 0px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 50%;
  font-size: 30px;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
