/* book display */
.admin-books ul {
  list-style-type: none;
  padding-left: 10vw;
  font-size: 150%;
}

.vertical-books {
  width: auto;
  height: 28vh;
  float: left;
  margin-right: 20px;
}

.clr {
  clear: both;
  padding-top: 2vh;
}
