.books {
    position: relative;
    /* hack for buttons absolute positions to work */
    margin-top: 3vh;
    width: 80vw;
}

.book_container {
    overflow: hidden;
}

.book_list {
    display: flex;
    overflow-x: visible;
    transition: transform 0.2s ease-in-out;
}

.book_item {
    position: relative;
    align-self: center;

    margin-right: 1vw;
    margin-bottom: 1vw;
    
    border: 1px solid black;
    border-radius: 1vh;
    box-shadow: 5px 5px;

    padding-top: 1vh;
    padding-bottom: 1vw;

    text-decoration: none;
    color: black;
}

.book_item img {
    width: 15vw;
}

.book_item img:hover {
    transition: all 300ms;
    /* opacity: 0.5; */
}

.book_container>button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 200%;
    --offset: -3vw;
    cursor: pointer;
}

.prev {
    left: var(--offset);
}

.next {
    right: var(--offset);
}

.book_item button {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    font-size: 125%;
}

.reserve {
    top: 35%;
    background-color: var(--main-color);
    color: white;
}

.details {
    top: 55%;
    background-color: lightgray;
    color: black;
}

@media (max-width:800px) {
    .book_item {
        padding-bottom: 3vh;
    }

    .book_item img {
        width: 39vw;
    }

    .books button {
        --offset: -7vw;
        font-size: 150%;
    }
}