.books {
    position: relative;
    /* hack for buttons absolute positions to work */
    margin-top: 3vh;
    width: 80vw;
}

.book_view {
    overflow: hidden;
}

.book_list {
    transition: transform 0.2s ease-in-out;
    white-space: nowrap;
}

.book_card {
    display: inline-block;
    position: relative;
    width: 16vw;
}

.book_item {
    display: block;
    width: calc(100% - 2vw);
    overflow: hidden;

    margin: 1vh auto;
    /* border: 1px solid black; */
    border-radius: 1vw;
    box-shadow: .5vw .5vw 5px black;
    /* padding: 1vh 0; */

    text-decoration: none;
    color: black;
}

.book_item:hover img {
    opacity: 0.5;
}

.info {
    padding-left: .5vw;
    white-space: normal;
}

.book_item img {
    width: 100%;
}

.book_item img:hover {
    transition: all 300ms;
    /* opacity: 0.5; */
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 200%;
    --offset: -3vw;
    cursor: pointer;
}

.prev {
    left: var(--offset);
}

.next {
    right: var(--offset);
}

.reserve,
.details {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    font-size: 125%;
}

.reserve {
    top: 35%;
    background-color: var(--main-color);
    color: white;
}

.details {
    top: 55%;
    background-color: lightgray;
    color: black;
}

@media (min-width:899px) {
    .book_item:hover .reserve,
    .book_item:hover .details {
        display: block;
    }
}

@media (max-width:899px) {
    .book_card {
        width: 40vw;
    }

    .prev,
    .next {
        --offset: -7vw;
        font-size: 150%;
    }
}