#description {
    width: 80vw;
    height: 20vh;
}

input[type="submit"] {
    color: white;
    background-color: dodgerblue;
    font-size: 150%;
    border-radius: 10px;
    padding: 0 2vw;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

textarea {
    resize: none;
}