@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --main-color: darkseagreen;
}

body {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
    font-family: "Montserrat", sans-serif;
}