.logo_cont {
    display: block;
    width: 80vw;
    height: 10vh;
}

.logo {
    float: left;
}

.logo img {
    height: 10vh;
}

#navbar {
    display: flex;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

#navbar a,
.login {
    display: block;
    padding-left: 2vw;
    padding-right: 2vw;
    line-height: 7vh;

    font-size: 150%;
    text-decoration: none;
}

#navbar a {
    background-color: transparent;
    color: var(--main-color);
}

/* #navbar .selected {
    background-color: lightgreen;
    color: black;
} */

.login,
.sidebar {
    position: absolute;
    top: 8px;
    right: 9vw;

    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
}

.sidebar {
    display: none;
    height: 8vh;
    width: 8vh;
}

.sidebar_cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: gray;
    opacity: 70%;
    z-index: 1;
}

.search {
    position: relative;
    height: 8vh;
    width: 79vw;

    border: 2px solid black;
    border-radius: 8vh;
}

.search .bar {
    position: absolute;
    left: 2vw;
    height: 100%;
    width: calc(100% - 11vh);

    background-color: transparent;
    border: none;
    outline: none;

    font-size: 150%;
}

@media (max-width:800px) {

    #navbar,
    .login {
        display: none;
        position: fixed;
        right: 0;
        z-index: 2;
    }

    #navbar {
        flex-direction: column;
        top: 0;
        left: unset;
        transform: none;

        width: 70vw;
        height: 100vh;

        background-color: lightgray;
    }

    #navbar a {
        height: 7vh;
        border: 1px solid black;
        background-color: var(--main-color);
        color: white;
        font-size: 100%;
    }

    .login {
        top: unset;
        bottom: 0;

        width: calc(66vw - 2px);
        height: 7vh;

        margin: 0;
        border-radius: 0;
        border: 1px solid black;
    }

    .sidebar {
        display: block;
    }

}