.search {
    position: relative;
    height: 8vh;
    width: 79vw;

    border: 2px solid black;
    border-radius: 8vh;
}

.search .bar {
    position: absolute;
    left: 2vw;
    height: 100%;
    width: calc(100% - 11vh);

    background-color: transparent;
    border: none;
    outline: none;

    font-size: 200%;
}

.search a {
    float: right;
    height: 8vh;
    width: 8vh;

    border-radius: 8vh;
    background-color: var(--main-color);
}

.search a img {
    height: 6vh;
    width: auto;
    padding-top: 1vh;
    padding-left: 1vh;
}

@media (max-width:800px)
{
    .search .bar{
        font-size: 150%;
    }
}