:root {
  --main-color: dodgerblue;
  font-family: "Montserrat";
}

body {
  background-color: white;
  margin: 0px;
}

/* navigation bar */

#navbar {
  overflow: hidden;
  width: 100vw;
  margin-bottom: 2vh;
  background-color: transparent;
  border-bottom-style: solid;
  border-color: dodgerblue;
  border-width: 1px;
}

#navmid {
  margin: 0;
  position: absolute;
}

#navbar a {
  display: block;
  float: left;
  padding-left: 1vw;
  padding-right: 1vw;

  line-height: 6vh;
  font-size: 125%;

  background-color: transparent;
  color: var(--main-color);
  text-decoration: none;
}

#navbar .selected {
  background-color: lightgreen;
  color: black;
}

#navbar a:hover {
  background-color: gray;
  color: white;
}

#navbar img {
  float: left;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 0.5vh;
  height: 5.5vh;
}

#navbar #login {
  float: right;
  margin-top: 1vh;
  line-height: 4vh;
  border-radius: 5px;
  margin-right: 5vw;

  background-color: var(--main-color);
  color: white;
}

/* book collapsible for admin dashboard */

#admin-dashboard {
  padding-left: 5vw;
}

#book-list-collapsible {
  display: flex;
  margin: 0 5vw;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 25vw;
  display: flex;
  margin: 0 2.5vw;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.book-overflow {
  margin: 0 2.5vw;
  display: none;
  overflow: auto;
  background-color: #f1f1f1;
  width: 24vw;
  height: 60vh;
  padding: 0 0.5vw;
}

.collapsible:after {
  content: "\02795"; /* (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* (-) */
}

/* search bar */

.search {
  height: 4vh;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;

  border: 2px solid black;
  border-radius: 8vh;
}

.search .bar {
  height: 100%;
  width: calc(100% - 12vh);
  padding-left: 2vh;

  background-color: transparent;
  border: none;
  outline: none;

  font-size: 150%;
}

.search a {
  float: right;
  height: 4vh;
  width: 4vh;

  border-radius: 8vh;
  background-color: var(--main-color);
}

.search a img {
  height: 3vh;
  width: auto;
  padding-top: 1vh;
  padding-left: 1vh;
}

/* book display */
.admin-books ul {
  list-style-type: none;
  padding-left: 10vw;
  font-size: 200%;
}

.vertical-books {
  width: auto;
  height: 20vh;
  float: left;
  margin-right: 20px;
}

.clr {
  clear: both;
  padding-top: 30px;
}

/* centered pagination at bottom (1 2 3 ... 149 140) */

.centerpage {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  width: 60px;
  line-height: 60px;
  padding: 0;
  margin: 0px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 50%;
  font-size: 30px;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
