/* book display */
.admin-books ul {
  list-style-type: none;
  padding-left: 2px;
  font-size: 100%;
}

.vertical-books {
  width: auto;
  height: 20vh;
  float: left;
  margin-right: 20px;
}

.clr {
  clear: both;
  padding-top: 30px;
}
