/* Book editor */

#add-new-book, #edit-book {
  padding-left: 5.5vw;
}

form {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw
}

label,
textarea {
  font-size: 110%;
  padding: 2px 0;
}

label {
  padding-right: 2px;
}

textarea {
  border: 1px solid black;

}

#book, #author, #categories, #isbn {
  width: 30vw;
}

#description {
  width: 80vw;
  height: 20vh;
}

input[type="submit"] {
  color: white;
  background-color: dodgerblue;
  font-size: 150%;
  border-radius: 10px;
  padding: 0 1vw;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

textarea {
  resize: none;
}
