#navbar {
    overflow: hidden;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
}

#navmid
{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}

#navbar a {
    display: block;
    float: left;
    padding-left: 2vw;
    padding-right: 2vw;

    line-height: 7vh;
    font-size: 150%;

    background-color: white;
    color: dodgerblue;
    text-decoration: none;
}

/* #navbar .selected {
    background-color: lightgreen;
    color: black;
} */

#navbar img {
    float: left;
    height: 10vh;
}

#navbar #login{
    float: right;

    /* border: 2px solid dodgerblue; */
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}

.search{
    height: 8vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;

    border: 2px solid black;
    border-radius: 30px;
}

.search .bar{
    height: 100%;
    width: calc(100% - 10vh);

    background-color: transparent;
    border: none;
    outline: none;
    border-radius: inherit;

    text-align: center;
    font-size: 150%;
}

.search a{
    float: right;
    padding-right: 1vh;
    height: 100%;
    width: fit-content;
}

.search a img{
    height: 100%;
    width: auto;
}

.books{
    overflow-x: auto;
    margin-left: 5vw;
    white-space: nowrap;

    list-style-type: none;
}

.books li{
    display: inline-block;
}