:root {
    --main-color: dodgerblue;
}

#navbar {
    overflow: hidden;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
}

#navmid {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}

#navbar a {
    display: block;
    float: left;
    padding-left: 2vw;
    padding-right: 2vw;

    line-height: 7vh;
    font-size: 150%;

    background-color: white;
    color: var(--main-color);
    text-decoration: none;
}

/* #navbar .selected {
    background-color: lightgreen;
    color: black;
} */

#navbar img {
    float: left;
    height: 10vh;
}

#navbar #login {
    float: right;

    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
}

.search {
    height: 8vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;

    border: 2px solid black;
    border-radius: 8vh;
}

.search .bar {
    height: 100%;
    width: calc(100% - 12vh);
    padding-left: 2vh;

    background-color: transparent;
    border: none;
    outline: none;

    font-size: 150%;
}

.search a {
    float: right;
    height: 8vh;
    width: 8vh;

    border-radius: 8vh;
    background-color: var(--main-color);
}

.search a img {
    height: 6vh;
    width: auto;
    padding-top: 1vh;
    padding-left: 1vh;
}

.books {
    margin-left: 10vw;
    width: 80vw;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.books ul {
    padding-left: 0;
    /* width: fit-content; */

    overflow-x: visible;
    white-space: nowrap;

    list-style-type: none;
}

.books ul li {
    display: inline-block;
    height: 24vw;
    width: 16vw;
}